.swipebuttons {
    position: fixed;
    bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.swipebuttons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipe__repeat {
    padding: 2vw !important;
    color: #f5b748 !important;
}

.swipe__left {
    padding: 2vw !important;
    color: #ec5e6f !important;
}

.swipe__star {
    padding: 2vw !important;
    color: #62b4f9 !important;
}

.swipe__right {
    padding: 2vw !important;
    color: seagreen !important;
}

.swipe__lightning {
    padding: 2vw !important;
    color: purple !important;
}